<template>
  <div class="functional">
    <div class="name">
      <div class="avatar">
        <img src="../assets/images/star.png" alt="">
      </div>
      <div class="title">Сергей Сергеевич Никитин</div>
      <div class="status">Тренер</div>
    </div>

    <div class="data">
      <div class="item">
        <div class="status">
          <div class="lines"></div>
          <div class="status__title">
            групп / детей
            <br>
            6 / 46
            <br>
            КОЛИЧЕСТВО
          </div>
          <div class="title">
            Ваши группы
          </div>
        </div>
      </div>
      <div class="item">
        <div class="status">
          <div class="lines"></div>
          <div class="status__title">
            13
            <br>
            ЧЕЛОВЕК
          </div>
          <div class="title">
            Оплаты
          </div>
        </div>
      </div>
      <div class="item">
        <div class="status">
          <div class="lines"></div>
          <div class="status__title">
            23
            <br>
            КОЛИЧЕСТВО
          </div>
          <div class="title">
            Задачи
          </div>
        </div>
      </div>
    </div>

    <div class="record">
      <div class="record__buttons">
        <div class="item training">
          <img class="icon" src="../assets/images/training.png" alt="">
          <div class="title">Обучение</div>
        </div>
        <div class="item finance">
          <img class="icon" src="../assets/images/finance.png" alt="">
          <div class="title">Финансовый отчет</div>
        </div>
        <div class="item report">
          <img class="icon" src="../assets/images/report.png" alt="">
          <div class="title">Сдача отчета</div>
        </div>
      </div>

      <div class="add-player">
        <div class="title">Новые игроки от другого тренера</div>
        <button>
          <img src="../assets/images/add-player.png" alt="">
        </button>
      </div>

      <div class="report">
        <div class="title">Отчет селекции</div>

        <div class="item">
          <div class="info">
            <div class="title">Выполнил план</div>
            <div class="counter">284</div>
          </div>
          <div class="percent"></div>
        </div>
        <div class="item">
          <div class="info">
            <div class="title">Прозвонил</div>
            <div class="counter">120</div>
          </div>
          <div class="percent"></div>
        </div>
        <div class="item">
          <div class="info">
            <div class="title">Пригласил</div>
            <div class="counter">34</div>
          </div>
          <div class="percent"></div>
        </div>
        <div class="item">
          <div class="info">
            <div class="title">Пришли</div>
            <div class="counter">56</div>
          </div>
          <div class="percent"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Functinal',
    data() {
      return {
        msg: 'Welcome to Your Vue.js App',
      };
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
</style>
