<template>
  <div class="menu">
    <div class="item">
      <div class="counter">93</div>
      <div class="title">рейтинг тренера</div>
    </div>
    <div class="item">
      <div class="counter">12</div>
      <div class="title">сообщения</div>
    </div>
    <div class="item discount">
      <div class="counter">54</div>
      <div class="title">отзывы</div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Menu',
    data() {
      return {
        msg: 'Welcome to Your Vue.js App',
      };
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
</style>
