<template>
  <div class="football" id="app">
    <div class="container">
      <div class="header">
        <div class="search">
          <input type="text" placeholder="Поиск">
        </div>
        <div class="stars">
          <button>
            <img src="./assets/images/star.png" alt="">
          </button>
        </div>
        <div class="phone">
          <button>
            <img src="./assets/images/phone.png" alt="">
          </button>
        </div>
        <div class="loggout">
          <button>
            Выйти
          </button>
        </div>
      </div>

      <Menu/>

      <Functional/>
    </div>
  </div>
</template>

<script>
import Menu from './components/Menu';
import Functional from './components/Functional';

export default {
  name: 'App',
  components: {
    Menu,
    Functional,
  },
};
</script>

<style lang="sass">
/*#app {*/
/*  font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*  text-align: center;*/
/*  color: #2c3e50;*/
/*  margin-top: 60px;*/
/*}*/

body {
  background-color: rgba(127, 160, 188, 0.1);
  margin: 0;
}

.football {
  background-color: #fff;
  max-width: 308px;
  margin: 0 auto;
  padding: 12px 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .search {
    input {
      padding: 8px 25px;
    }
  }
}


button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.stars button {
  width: 21px;
}

.search {
  margin-right: 6px;
}

.stars {margin-right: 7px;}

.phone {margin-right: 12px;}

* {
  box-sizing: content-box;
}
</style>
